<!DOCTYPE html>
<html>
  <head>
    <title>ShopBuilderPlatform</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,400i,500" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render 'shared/header' %>
    <%= yield %>
  </body>
  <script type="text/javascript" src="/assets/jquery.min.js"></script>
  <script type="text/javascript" src="/assets/popper.min.js"></script>
  <script type="text/javascript" src="/assets/jquery.smartWizard.min.js"></script>
  <script type="text/javascript" src="/assets/flickity.pkgd.min.js"></script>
  <script type="text/javascript" src="/assets/scrollMonitor.js"></script>
  <script type="text/javascript" src="/assets/smooth-scroll.polyfills.js"></script>
  <script type="text/javascript" src="/assets/prism.js"></script>
  <script type="text/javascript" src="/assets/zoom.min.js"></script>
  <script type="text/javascript" src="/assets/bootstrap.js"></script>
  <script type="text/javascript" src="/assets/theme.js"></script>
</html>
